:root {
  /*--fondo-neutro: rgba(194, 195, 149, 0.9);*/
  /*--fondo-destacar: rgba(129, 130, 99,0.9);*/
  
	--fondo-neutro: rgba(238, 208, 206, 1);
  --fondo-destacar: rgba(192, 128, 128,0.9);
  

  --fondo-principal: rgba(166, 38, 98,0.9);
  --fondo-secundario:rgba(122, 38, 98,0.9);
	/*  --color-principal: rgba(255, 185, 255,1);*/
	--color-principal: rgba(166, 38, 98,1);
	/*  --color-secundario:rgba(255, 200, 255,1);*/
	--color-secundario:rgba(122, 38, 98,1);
	--color-neutro: rgba(194, 195, 149, 1);
  --color-destacar: rgba(129, 130, 99,1);
}

@font-face {
  font-family: 'cursiva';
  src: url('../assets/fonts/Caitlin Angelica.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'imprenta-regular';
  src: url('../assets/fonts/JuliusSansOne-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'imprenta-bold';
  src: url('../assets/fonts/Lato-Bold.ttf');
  font-style: bold;
}

html{

	scrollbar-width: none;
}

body{
	margin:0px;
	padding:0px;
	width:100vw;
	height:100vh;
	background-image: url('../assets/CANDEVIDEO.gif');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	/*text-shadow: 0px 0px 2px white;*/

}

a{
	text-decoration: none;
}

.contenedor{
	display:flex;
	scrollbar-width: none;
}

.cont-detalle{
	margin:auto;
	text-align: center;
}


.seccion{
	flex-direction:column;
	justify-content: space-evenly;
	align-items: center;
	width: calc(100% - 40px);
	min-height: 99vh;
	padding:40px 20px;
	/*border:dotted 1px black;*/
	overflow-y: scroll;
	overflow-x: hidden;
}

.boton{
	display:inline-block;
	border:solid 2px var(--color-principal);
	/*background-color:var(--color-neutro);*/
	background-color: rgba(217,185,160,1);
	color: var(--color-principal);
	font-family: imprenta-regular;
	border-radius: 20px 0px 20px 0px;
	height: 40px;
	width: 150px;
	text-align: center;	
	align-content: center;
	margin:20px 0px;
}

#contenido{	
	width: 95%;
	height: 95%;
	margin:auto;
	overflow-y:scroll;
	scrollbar-width: none;
	/*border:dotted 2px red;*/
}

.epigrafe{
	margin:0px;
	font-size:1.8rem;
	font-family: imprenta-regular;
	/*color:var(--color-secundario);*/
}
.titulo{
	margin:0px;
	font-size:9rem;
	font-family: cursiva;
	color:var(--color-principal);
}

.subtitulo{
	margin:0px;
	font-size:1.8rem;
	font-family: imprenta-regular;
	color:var(--color-principal);
}

.texto-seccion{
	font-size:2rem;
	font-family: imprenta-regular;
	/*color:rgb(92,81,80);*/
	margin:5px;
	text-align: center;
}

.cont-icono-seccion{
	/*border:dotted 2px red;*/
	width: 120px;
	height: 120px;
	margin:40px 0px;
	justify-content: center;
	align-content: center;
}

.ico-seccion{
	width: 100%;

}

#boton-reproductor{
	width: 80px;
	height: 80px;
	border:solid 2px var(--color-secundario);
	background-color: var(--color-principal);
	position:sticky;
	bottom:50px;
	left:50px;
	border-radius:100%;
	transition:1s ease-in-out;
}

#ico-boton-reproductor{
	width: 100%;
	height: 100%;
}


audio{
  display: none !important;
}

/**********************************************************/

.theme-oscuro{
	background-color: var(--fondo-destacar);
	color:rgb(254,236,234);
}

.theme-claro{
	background-color: var(--fondo-neutro);	
	color:rgb(92,81,80);

}


#cont-seccion-encabezado{
	position:relative;
	margin-top:100vh;
	flex-direction:column;
	justify-content: center;
	align-items: center;	
	background-color:var(--fondo-neutro);
	color:var(--color-principal);
	overflow-y: hidden;
}

#cont-seccion-encabezado .epigrafe, #cont-seccion-encabezado .texto-seccion{
	font-size:2rem;
	font-family: imprenta-regular;
	/*color:var(--color-destacar) !important;*/
}

#cont-seccion-encabezado .titulo{
	font-size:10em;
	font-family: cursiva;
	color:var(--color-principal);
	text-shadow: 0px 0px 3px white;
}

/*#seccion-presentacion{	
	background-color: var(--fondo-destacar);
}

#seccion-invitacion{
	background-color: var(--fondo-neutro);	
}*/

#cont-detalle-invitacion{
	align-self:start;
}

#cont-countdown{
	margin-top:10px;
	min-width: 50%;
	width: 90%;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	justify-self: center;
	font-family: imprenta-bold;
}

.cont-elem-countdown{
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}

.elem-countdown{
	font-size:3rem;
	color:var(--color-principal);
	border-top:solid 1px var(--color-secundario);
	border-bottom:solid 3px var(--color-secundario);
	border-radius: 0px 0px 10px 10px;
	margin:10px;
}

.nombre-elem-countdown{
	color:var(--color-destacar);
}

/*
#seccion-dress-code{
	background-color: var(--fondo-destacar);
}
*/

#cont-detalle-dress-code{
	flex-direction: column;
	align-self:start;
}

#cont-galeria-dress-code, #cont-galeria{
	/*border:dotted 1px blue;*/
	flex-wrap: wrap;
	justify-content: space-around;
}


.img-galeria-vertical{
	width: 100%;
	transform:scale(1.5) rotate(10deg);
	transition:1.5s ease-in-out;
	filter: grayscale(100) blur(5px);
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.img-galeria-vertical:hover{
	transform: scale(1) rotate(0deg);
	filter:none;
}

.cont-img-galeria-vertical{
	margin:10px;
	/*border:dotted 1px black;*/
	width:300px;
	height: 400px;
	overflow:hidden;
	border-radius: 20px 0px 20px 0px;
	border:solid 3px rgb(254,236,234);
	border:solid 3px rgb(217, 185, 160);

}

/*
#seccion-asistencia{
	background-color: var(--fondo-neutro);
}
*/

#cont-tarjetas-asistencia{
	flex-direction:row;
	flex-wrap: wrap;
}

.tarjeta-asistencia{
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;		
	border-radius: 0px 20px 0px 20px;
	margin:10px;
	padding: 20px;
	/*border:solid 2px rgb(254,236,234);*/
	border:solid 2px rgb(217, 185, 160);
	width:300px;
	height: 400px;
	text-align: center;
}

.texto-tarjeta-asistencia{
	font-family: imprenta-regular;
	/*color:var(--color-secundario);*/
	color:rgb(92,81,80);
	font-size:2rem;
	margin:0px;
}

/*
#seccion-galeria{
	background-color:var(--fondo-destacar);
}

#seccion-info-cuenta{
	background-color: var(--fondo-neutro);
}*/

.cont-info-regalos{
	flex-direction: column;
	flex-wrap: nowrap;
	text-align: center;
	margin:20px;
}

footer{
	background-color:pink;
}




@media(max-width: 1023px){

	.subtitulo{
		font-size:1.3rem;
		margin:auto;
	}

	.texto-seccion{
		font-size:1.6rem;
	}

	.seccion{
		text-align: center;
	}

	.tarjeta-asistencia{
		align-items:center;
	}



	#cont-detalle-invitacion{
		align-self:center;
	}

	#cont-detalle-dress-code{
		align-self:center;
	}

}